@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

.cardsContainer{
    padding: 10px;
    gap: 10px;
    margin: auto;
}

.cardsContainer::-webkit-scrollbar {
    width: 8px;     
    height: 8px;    
  }
  
  .cardsContainer::-webkit-scrollbar-thumb {
    background: #d93f3f;
    border-radius: 4px;
  }
  
  .cardsContainer::-webkit-scrollbar-corner{
    display: none;
  }

.cardPokemon {
    width: 100%;
    max-width: 450px;
    border-radius: 13px;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    border-width: 10px;
    border-style: solid;
    border-color: green;
    margin-bottom: 20px;
    
}

.cardPokeHeader {
    height: 140px;
    background-color: green;
    position: relative;
    margin-bottom: 60px;
}

.cardPokeImg {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 13px;
    transform: translate(-50%);
}

.cardPokeBody{
    margin-bottom: 20px;
}

.cardPokeName{
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;

}

.cardPokeTypesContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cardPoketype{
    font-size: 18px;
    text-transform: capitalize;
    position: relative;

}

.cardPoketype:nth-child(2)::before {
    content: '/';
    position: absolute;
    left: -10px;
}

.cardPokeTypeLabel{
    text-align: center;
    font-size: 13px;
    color: #999;
}

.cardPokeStatsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
    justify-items: center;
    padding: 0 5px 35px;
}

.cardPokeStats {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.cardPokeStatLabel{
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
}

.cardPokeStatNumber{
    font-size: 18px;
}

/*?----Border--Colors----?*/

.border-grass{
    border-color: #b1dbbc;
}

.border-fire{
    border-color: #e75c35;
}

.border-water{
    border-color: #1479FB;
}

.border-bug{
    border-color: #4AB648;
}

.border-normal{
    border-color: #735259;
}

.border-fighting{
    border-color: #96402A;
}

.border-poison{
    border-color: #5B3184;
}

.border-ghost{
    border-color: #323569;
}

.border-rock{
    border-color: #7E7E7E;
}

.border-dark{
    border-color: #030706;
}

.border-ice{
    border-color: #6FBEDF;
}

.border-steel{
    border-color: #5E736C;
}

.border-dragon{
    border-color: #478A93;
}

.border-fairy{
    border-color: #971B45;
}

.border-electric{
    border-color: #0C1395;
}

.border-ground{
    border-color: #654008;
}

.border-psychic{
    border-color: #7753e7;;
}

/**----Border--Colors----**/

.bg-grass {
    background: linear-gradient(178.92deg, #7ec6c5 0.92%, #abdac6 47.96%, #cae099 99.08%);
}

.bg-fire {
    background: linear-gradient(178.92deg, #F96D6F 0.92%, #E35825 47.96%, #E8AE1B 99.08%);
}

.bg-water {
    background: linear-gradient(178.92deg, #133258 0.92%, #1479FB 47.96%, #82B2F1 99.08%);
}

.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bg-normal {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bg-fighting{
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.bg-poison{
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.bg-ghost{
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.bg-rock{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.bg-dark{
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.bg-ice{
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.bg-steel{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.bg-dragon{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.bg-fairy{
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.bg-electric{
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}

.bg-ground{
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.bg-psychic{
    background: linear-gradient(179.75deg, #8f35e7 -19.96%, #525ae1 43.67%, #a398af 138.4%);
}


/*todo----letter--Colors----todo*/

.letter-grass{
color: #416460;
}

.letter-fire{
    color: #E75C35;
    }

.letter-water{
   color: #1479FB;
}

.letter-bug{
    color: #4AB648;
 }

 .letter-normal{
    color: #735259;
 }

 .letter-fighting{
    color: #96402A;
 }

 .letter-poison{
    color: #5B3184;
 }

 .letter-ghost{
    color: #323569;
 }

 .letter-rock{
    color: #7E7E7E;
 }

 .letter-dark{
    color: #030706;
 }

 .letter-ice{
    color: #6FBEDF;
 }
 
 .letter-steel{
    color: #5E736C;
 }

 .letter-dragon{
    color: #478A93;
 }

 .letter-fairy{
    color: #971B45;
 }

 .letter-electric{
    color: #0C1395;
 }

 .letter-ground{
    color: #654008;
 }

 .letter-psychic{
    color: #7753e7;
 }
 
 