@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

.pagination{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.pagination__container{
    display: flex;
    gap: 5px;
}

.pagination__prev, .pagination__next, .pagination__page {
    width: 25px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination__active{
    background-color: #d93f3f;
    color:  white;
    border-radius: 5px;
}

